<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A website where we make Sence." />
		<meta name="viewport" content="width=device-width" />
		<title>Sence.</title>
	</head>
	<body>
		<a href="index.html"><h1 class="title">Sence<h1/></a>
		<slot />
	</body>
	<footer>
		<div class="parent">
  		 <div class="iemail-footer">Send feedback on feedback@sence.club</div>
		</div>
	</footer>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	.title, a:link, a:visited {
		text-align: center;
		color: #b6b6b6;
		font-size: 45px;
		text-decoration: none;
	}
	.parent {
  		position: relative;
	}
	.iemail-footer {
		font-size: 15px;
		color: #b6b6b6;
		position: relative;
        bottom: -600px;
	}
</style>
